<div class="black-border-box">
  <div class="centered">
    <h2>Search spots by city</h2>
    <%=form_tag(spots_path, method: "get") do%>
      <%= collection_select(:spot, :location_id, Location.all.order("city ASC"), :id, :city, {include_blank: "All Spots"}) %>
      <%=submit_tag "Search"%>
    <%end%>
  </div><br><hr>
  <div class="spot-index-view">
    <%@spots.each do |spot|%>
      <div>
        <div class="centered"><h3><%=link_to spot.name, spot%></h3>
        <h4><%=spot.address%> - <%=spot.location.city%>, <%=spot.location.country%></h4></div>
      </div>
    <%end%>
  </div>
  <%if @spots.empty?%>
    <div class="centered">
      <p>No spots in <%=@index_location.city%> yet</p>
      <p>Add Spot</p>
      <%=form_with model: Spot.new, url: spots_path, :method => :post do |f|%>
        <%= f.hidden_field :location_id, :value => params[:location_id] %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%=render 'form', f:f%>
      <%end%>
  <%end%>
</div>
