<div class="black-border-box ">
  <div class="centered">
    <h2>Search spots by city</h2>
    <%=form_tag(spots_path, method: "get") do%>
      <%= collection_select(:spot, :location_id, Location.all, :id, :city, :prompt => true) %>
      <%=submit_tag "Search"%>
    <%end%>
  </div>
  <%@spots.each do |spot|%>
    <div class="centered">
      <div class="spot-grid">
        <div><%=link_to spot.name, spot%>
        <h4><%=spot.address%></h4>
        <%if spot.image.attached?%>
          <%=image_tag(spot.image, :class => 'image-box')%>
        <%end%></div>
      </div>
    </div>
  <%end%>
  <h4 class="centered"><%=link_to "Go Back", spots_path%></h4>
</div>
