<div class='spot-view'>
  <div>  
    <h2><%=@spot.name%></h2>
    <p><%=@spot.address%>, <%=@spot.location.city%>, <%=@spot.location.country%>.</p>
    <span>
      Rating:
      <%if @spot.rating%>
        <%@spot.rating.times do  %>
        <%= octicon "star", class: "gold-star" %>
        <% end %>
      <%end%>
    </span>
    <p>Added by: <%=@spot.user.username%></p>

    <%if @spot.image.attached?%>
      <%=image_tag(@spot.image, :class => 'show-image')%>
    <%end%><br>
    <%if @spot.user == current_user%>
      <%=link_to "Delete", :spot, data: {confirm:'Are you sure you want to delete this spot?'}, method: :delete%>
      <%=link_to "Edit", edit_spot_path(@spot)%>
    <%end%>
  </div>
  <div class="comment-box centered">
    <div>
      <h2><strong>Comments</strong></h2>
      <div class="comment-display">
        <%@spot.comments.each do |comment|%>
          <div class="centered">
            <p><%=comment.content%></p>

            <small><p>Posted - <%=comment.created_at.strftime('%B %d, %Y')%> by <%=comment.user.username%></p></small>
          </div><hr>
        <%end%>
      </div>
    </div><br>
    <%=form_for @comment, :method => :post do |f|%>
      <%= f.hidden_field :spot_id, :value => @spot.id%>
      <%=f.hidden_field :user_id, :value => current_user.id %>
      <%=f.text_area :content%><br>
      <%=f.submit "Add Comment"%>
    <%end%>
  </div>
</div>