<div class='spot-view'>
  <div>  
    <h3><%=@spot.name%></h3>
    <p><%=@spot.address%>, <%=@spot.location.city%>, <%=@spot.location.country%>.</p>
    <span>
      Rating:
      <%if @spot.rating%>
        <%@spot.rating.times do  %>
        <%= octicon "star", class: "gold-star" %>
        <% end %>
      <%end%>
    </span>
    <p>Added by: <%=@spot.user.username%></p>

    <%if @spot.image.attached?%>
      <%=image_tag(@spot.image)%>
    <%end%>
    <%if @spot.user == current_user%>
      <%=link_to "Delete", :spot, method: :delete%>
      <%=link_to "Edit", edit_spot_path(@spot)%>
    <%end%>
  </div>


  <div class="comment-box">
    <%=form_for @spot.comments.create do |f|%>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :spot_id, :value => @spot.id %>
      <%=f.text_area :content, placeholder: "Comment"%><br>
      <%=f.submit "Add Comment"%>
    <%end%>
    <h4>Comments</h4>
    <%@spot.comments.each do |comment|%>
      <strong><%=comment.user.try(:username)%></strong>
      <sup><%=comment&.created_at&.strftime('%B, %Y')%></sup>
      <p><%=comment.content%></p><hr>
    <%end%>
  </div>
</div>