<div class='spot-view'>
  <div>  
    <h3><%=@spot.name%></h3>
    <p><%=@spot.address%>, <%=@spot.location.city%>, <%=@spot.location.country%>.</p>
    <span>
      Rating:
      <%if @spot.rating%>
        <%@spot.rating.times do  %>
        <%= octicon "star", class: "gold-star" %>
        <% end %>
      <%end%>
    </span>
    <p>Added by: <%=@spot.user.username%></p>

    <%if @spot.image.attached?%>
      <%=image_tag(@spot.image, :class => 'show-image')%>
    <%end%><br>
    <%if @spot.user == current_user%>
      <%=link_to "Delete", :spot, method: :delete%>
      <%=link_to "Edit", edit_spot_path(@spot)%>
    <%end%>
  </div>
  <div class="comment-box">
    <%@spot.comments.each do |comment|%>
      <%byebug%>
    <%end%>
  </div>
</div>