<%=@spot.name%><br>
<%=@spot.address%>
<p>added by <%=@spot.user.username%></p>
<%if @spot.user_id == current_user%>
  <%=link_to "Delete", :spot, method: :delete%>
  <%=link_to "Edit", edit_spot_path(@spot)%>
<%end%>