<div>  
  <h3><%=@spot.name%></h3>
  <p><%=@spot.address%>, <%=@spot.location.city%>, <%=@spot.location.country%>.</p>
  <p>Added by: <%=@spot.user.username%></p>
  <%-#<%=url_for @spot.image%>
  <span>
    Rating:
    <%if @spot.rating%>
      <%@spot.rating.times do  %>
      <%= octicon "star", class: "gold-star" %>
      <% end %>
    <%end%>
  </span>
  <%if @spot.user == current_user%>
    <%=link_to "Delete", :spot, method: :delete%>
    <%=link_to "Edit", edit_spot_path(@spot)%>
  <%end%>
</div>

<div align="right">
  <%=form_for @spot.comments.create do |f|%>
    <%=f.text_field :content, placeholder: "Comment"%>
    <%=f.submit "Add Comment"%>
  <%end%>

  <%=@spot.comments.each do |comment|%>
    <%=comment.content%>
    Posted by: <%=comment.user%>
  <%end%>
</div>