<h3><%=@spot.name%></h3>
<p><%=@spot.address%>, <%=@spot.location.city%></p>
<p><%=@spot.rating%>/5 stars</p>
<p>added by <%=@spot.user.username%></p>
<%-# Add octicon back%>
<%if @spot.user_id == current_user%>
  <%=link_to "Delete", :spot, method: :delete%>
  <%=link_to "Edit", edit_spot_path(@spot)%>
<%end%>