<div class='spot-view mx-auto'>
  <div class="text-center pt-5">  
    <h4><%= @spot.address %>, <%= @spot.location.city %>, <%= @spot.location.country %>.</h4>
    <p class="spot-description mx-auto"><%= @spot.description %></p><br>
    <span>
      Rating:
      <% if @spot.rating %>
        <% @spot.rating.to_i.times do   %>
        <%=  octicon "star", class: "gold-star"  %>
        <% end  %>
      <% end %>
      <%= @spot.rating %> / 5
    </span>
    <% if current_user.id != @spot.user_id %>
      <p>Add Your Rating</p>
      <%= form_for @spot, :method => :put do |f| %>
        <%= f.submit 'Add rating' %>
      <% end %>
    <% end %>
    <p>Added by: <%=  link_to @spot.user.username, user_spots_path(@spot.user) %></p>
    <% if @spot.user == current_user %>
      <%= link_to "Delete", :spot, data: {confirm:'Are you sure you want to delete this spot?'}, method: :delete, :class => 'text-danger' %>
      - <%= link_to "Edit", edit_spot_path(@spot) %>
    <% end %>
  </div>
  <div>
    <h1 class="text-center"><%= @spot.name %></h1>
    <% if @spot.image.attached? %>
      <%= image_tag(@spot.image, :class => 'show-image') %>
    <% end %>
  </div>
  <div class="comment-box text-center">
    <div>
      <h2><strong>Comments</strong></h2>
      <div class="comment-display border border-dark">
        <% if @spot.comments.empty? %>
          <p>No comments yet. Add comment below</p>
        <% end %>
        <% @spot.comments.order('created_at DESC').each do |comment| %>
          <div class="text-center">
            <p><%= comment.content %></p>
            <small><p>Posted - <%= comment.created_at.strftime('%B %d, %Y') %> by <%=  comment.user.username  %></p></small>
            <% if comment.user == current_user %>
              <sub><%= link_to "Delete", comment_path(comment), data: {confirm:'Are you sure you want to delete this comment?'}, method: :delete,:class => 'text-danger' %></sub>
            <% end %>
          </div><hr>
        <% end %>
      </div>
    </div><br>
    <%= render 'comment' %>
  </div>
</div>