<div class="spot-view">
  <%@user.spots.each do |spot|%>
    <div class="spot-box"><p><%=link_to spot.name, spot%></p>
    <p><%=spot.location.city%>, <%=spot.location.country%></p>
    <%if spot.image.attached?%>
      <%=image_tag(spot.image, class: 'image-box')%>
    <%end%>
    <%if spot.rating%>
      <%spot.rating.times do  %>
        <%= octicon "star", class: "gold-star" %>
      <%end%>
    <%end%>
  <%end%></div>
  <p>Click <%=link_to "here", location_path(@user.check_in.location)%> to add a spot.</p>
</div>