<div class="spot-view">
  <%@user.spots.each do |spot|%>
    <div><h3><u><%=link_to spot.name, spot%></u></h3>
    <p><%=spot.location.city%>, <%=spot.location.country%></p>
    <%if spot.image.attached?%>
      <%=image_tag(spot.image, class: 'image-box')%>
    <%end%><br>
    <%if spot.rating%>
      <%spot.rating.times do  %>
        <%= octicon "star", class: "gold-star" %>
      <%end%>
    <%end%></div>
  <%end%>
</div><hr>
<div class="centered">
  <h3>Add a spot</h3>
  <div>
  <%=simple_form_for :spot, url: user_spots_path(current_user), :method => :post do |f|%>
    <%= f.hidden_field :user_id, :value => @user.id %>
    <%if !params[:location_id]%>
      <%=f.fields_for :location do |ff|%>
        <%=ff.text_field :location, placeholder: :city%><br>
        <%=ff.select :location_id, options_for_select(Location.all.order("city ASC").uniq.map{|x| ["#{x.city}", x.id]}), {:include_blank => 'Select City'}%><br>
      <%end%>
    <%end%>
    <%=render 'spots/form', f:f%>
  <%end%><br>
  </div>
</div>