<div class="page-grid">  
  <div class="main">
    <h2><%=user_name%></h2>
    <%=link_to "Edit", edit_user_path(@user)%></span>
    <p>You are currently located in <%=user_location%>.</p>
    <h3>Check In</h3>
    <p>Where are you skating today?</p>
    <%=render "locations/form"%>
    <h3>Search by city</h3>
    <%=form_tag(location_path, method: "get") do%>
      <%=select( "location", "id",  Location.order('country ASC').all.map { |p| ["#{p.city}, #{p.country}", p.id]}.uniq, { prompt: 'Enter city' })%>
      <%=submit_tag "Search"%>
    <%end%> 
    <p>Click <%=link_to "here", locations_path%> to view all cities.</p>
  </div>
  <div>
    <h3>Your Spots</h3>
    <%=check_in%>
  </div>
</div>