<div class="main-page-grid">  
  <div class="main">
    <h2>Welcome, <%=current_user.username%>.</h2>
    <sup><%=link_to "Edit", edit_user_path(current_user)%></sup>
    <p>You are currently located in <%=user_location%>.</p>
    <%if @current_user_check_in && !@current_user_check_in.notes.empty?%>
      <p>Check In Note: <%=@current_user_check_in.notes%></p>
    <%end%>
    <div class="check-in-box">
      <div>
        <h3><u>Check In</u></h3>
        <p>Where will you be skating today?</p>
        <%=form_for :check_in, url: user_check_ins_path(current_user), :method => :post do |f|%>
          <%=f.text_field :city, placeholder: "City - ex. Paris"%><br>
          <%=f.text_area :notes, placeholder: :notes, cols: "18", rows: "3"%><br>
          <%=f.submit "Check In"%>
        <%end%>
      </div>
      <div>
        <h3><u>Add Spot</u></h3>
        <%=form_for @spot do |f|%>
          <%=render 'layouts/shared_errors', form_object:@spot%>
          <%=f.hidden_field :user_id, :value => current_user.id %>
          <%=f.fields_for :location, @location do |ff|%>
            <%=ff.text_field :city, placeholder: :city%>
          <%end%><br>
          <%=render 'spots/form', f:f%>
        <%end%>
      </div>
    </div>
    <h3><u>Cities you've skated in</u></h3>
      <%unique_user_check_ins%>
      <div>
        <ul class="unique-check-in margin-center"><%@unique_user_check_ins.each do |ci|%>
          <li class="centered"><%=link_to ci.location.city, location_path(ci.location)%></li>
        <%end%></ul><br>
      </div>
  </div>
  <div>
    <h2><u>Your Spots</u></h2>
    <%if current_user.spots%>
      <%=check_in%> <!--user helpers for user spots iterator-->
    <%end%>
  </div><br>
</div>