<div class="page-grid">  
  <div class="main">
    <h2><%=user_name%></h2>
    <%=link_to "Edit", edit_user_path(@user)%></span>
    <p>You are currently located in <%=user_location%>.</p>

    <h3>Where are you skating today?</h3>
    <%=render "locations/form"%><br>
    <ul>
      <li>Click <%=link_to "here", locations_path%> to view all cities.</li>
    </ul>

    <h3>Search by</h3>
    <%=form_tag(spots_path, :method => "get") do%>
      <%=label_tag "City"%>
      <%=text_field_tag :search_city%><br>
      <%=label_tag "Rating"%>
      <%=select_tag :search_rating, options_for_select((1..5)), prompt: "-"%><br>
      <%=submit_tag "Search"%>
    <%end%>
  </div>
  <div>
    <h3>Your Spots</h3>
    <%=check_in%>
  </div>
</div>