<%=user_auth%>
<div class="page-grid">  
  <div class="main">
    <h3><%=user_name%></h3>
    <%=link_to "Edit", edit_user_path(@user)%></span>
    <p>You are currently located in <%=user_location%>.</p>
  </div>
  <div class="spot-side">
    <h3>Where are you skating today?</h3>
    <%=render "locations/form"%><br>
    <ul>
      <li>Click <%=link_to "here", locations_path%> to view all cities.</li>
    </ul>

    <ul><h3>Your spots</h3>
      <%@user.spots.each do |spot|%>
        <li><%=link_to spot.name, spot%> - <%=spot.location.city%>, <%=spot.location.country%></li>
      <%end%>
    <ul>

    <h3>Search spot by city</h3>
    <%=form_tag('/spots'), method: :get do%>
      <%=text_field_tag :address%>
      <%=submit_tag "Search Spots"%>
    <%end%>
  </div>
</div>
