<div class="main-page-grid  pt-5">  
  <div class="main">
    <h2 class="text-dark">Welcome, <%=current_user.username%>.</h2>
    <sup><%=link_to "Edit", edit_user_path(current_user)%></sup><br>
    <p>You are currently located in <%=user_location%>.</p>

    <h3><u>Cities you've skated in</u></h3>
      <%unique_user_check_ins%>
      <div>
        <ul class="unique-check-in mx-auto"><%@unique_user_check_ins.each do |loc|%>
          <li class="text-center"><%=link_to "#{loc.location.city}, #{loc.location.state}", location_path(loc.location)%></li>
        <%end%></ul><br>
      </div>
  </div>
  <div>
    <h2><u>Your Spots</u></h2>
    <%if user_spots%>
      <%=check_in%> <!--user helpers for user spots iterator-->
    <%end%>
  </div><br>
</div>