<%=user_auth%>
<div class="page-grid">  
  <div class="main">
    <h2><%=user_name%></h2>
    <%=link_to "Edit", edit_user_path(@user)%></span>
    <p>You are currently located in <%=user_location%>.</p>
  </div>
  <div class="spot-side">
    <h2>Your spots</h2>
    <div class="spot-view">
      <%spots.each do |spot|%>
        <div><p><%=link_to spot.name, spot%></p>
        <p><%=spot.location.city%>, <%=spot.location.country%></p>
        <%if spot.image.attached?%>
          <%=image_tag(spot.image, class: 'image-box')%>
        <%end%>
        <%if spot.rating%>
          <%spot.rating.times do  %>
          <%= octicon "star", class: "gold-star" %>
        <% end %>
      <%end%></div> 
    <%end%>
    </div>
    <h3>Where are you skating today?</h3>
    <%=render "locations/form"%><br>
    <ul>
      <li>Click <%=link_to "here", locations_path%> to view all cities.</li>
    </ul>

    <h3>Search by</h3>
    <%=form_tag(spots_path, :method => "get") do%>
      <%=label_tag "City"%>
      <%=text_field_tag :search%><br>
      <%=label_tag "Rating"%>
      <%=select_tag :search, options_for_select((1..5)), prompt: "-"%><br>
      <%=submit_tag "Search"%>
    <%end%>
  </div>
</div>
