<div class="main-page-grid  pt-5"> 
  <div class="main">
    <h2 class="text-dark">Welcome, <%= current_user.username %>.</h2>
    <sup><%= link_to "Edit", edit_user_path(current_user) %></sup><br>
    <p>You are currently located in <%= user_location %>.</p>

    <h3 class="text-dark">Cities you've skated in</h3>
      <% unique_user_check_ins %>
      <div>
        <ul class="unique-check-in mx-auto"><% @unique_user_check_ins.each do |loc| %>
          <li class="text-center"><%= link_to "#{loc.location.city}, #{loc.location.state}", location_path(loc.location) %></li>
        <% end %></ul><br>
      </div>
      <h3 class="text-dark">Users in your area</h3>
      <% find_users.map do |user| %>
        <% if user != current_user %>
          <span class="d-inline-flex"><%= link_to user.username, user_spots_path(user.id) %> - Spots: <%= user.spots.count %></span><br>
        <% else %>
          <p>No users currently in <%= unique_user_check_ins.last.location.city %></p>
        <% end %>
      <% end %>

  </div>
  <div>
    <%# Revisit to fix tool-tip titles to handle html values %>
    <span class="d-inline-flex"><h2 class="text-dark">Your Spots</h2><i class="fas fa-question-circle pt-2 pl-2" data-toggle="tooltip" data-html="true" title="All of your spots will appear here. If you don't have any spots, add some by clicking the link below."></i></span><br>
    <% if user_spots %>
      <%= check_in %> <!--user helpers for user spots iterator-->
    <% end %>
  </div><br>
  <% if random_spot %>
    <div>
      <h2 class="text-dark">Random Spot</h2>
      <div class="card text-center shadow-lg border-light rounded w-50 mx-auto mb-3 pb-2 pt-2">
        <h4><%= random_spot.name %></h4>
        <% if random_spot.image.attached? %>
          <%= image_tag(random_spot.image, :class => 'card-img-top w-50 mx-auto') %>
        <% end %>
        <p><%= random_spot.address %> </p>
        <p><%= random_spot.location.city %>, <%= random_spot.location.country %></p>
        <%= link_to 'View Spot', spot_path(random_spot.id) %>
      </div>
    </div>
  <% end %>
</div>
