<div class="black-border-box centered">  
  <h2><u>Cities</u></h2>
  <h4>Search cities by country</h4>
  <%=render 'search'%><br>
  <%if !@locations.present?%>
    <div class="mx-auto">
      <p>No spots in <%=params[:country]%></p>
      <p><%=link_to "Go Back", locations_path%></p>
    </div>
  <%else%>
    <div class="location-index">
      <%@locations.each do |loc|%>
      <div>
        <strong><u><%=link_to loc.city, loc%></u>, <%=loc.country%>.</strong><br>
        <div>Spot count: <%=loc.spots.count%></div><br>
      </div>
      <%end%>
    <%end%>
    </div>
</div>