<div class="black-border-box centered">  
  <h1>Locations:</h1><br>
  <h4>Search for locations by country</h4>
  <%=render 'search'%><br>
  <%@locations.each do |loc|%>
  <div>
    <strong><%=link_to loc.city, loc%>, <%=loc.country%>.</strong><br>
    <div class="x">Spot count: <%=loc.spots.count%> <%=button_to location_path(loc)%></div>
  </div>
  <%end%>
</div>