<div class="location-show black-border-box">
  <div class="margin-center">
    <h1><%=@location.city%>, <%=@location.country%>.</h1>
    <strong><h3>Skate Spots in <%=@location.city%></strong></h3>
    <%@location.spots.order('name ASC').each do |spot|%>
      <%=link_to spot.name, spot_path(spot)%><br>
    <%end%><br>
    <strong><h3>Users in your area</strong></h3>
    <ul><%@location.check_ins.uniq {|check| check.user}.map do |check_in|%>
      <h3><%=check_in.user.username%></h3>
    <%end%>
  </div>
  <hr>
  <div class="margin-center">
    <h3>Create a spot</h3>
    <%=form_for @spot do |f|%>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :location_id, :value => @location.id %>
      <%=render "spots/form", f:f%>
    <%end%>
  </div>
</div>
