<!DOCTYPE html>
<html>
  <head>
    <title>SkateMate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'main'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flash-alert" align="center">
      <%flash.each do |type, msg|%>
        <%=msg%>
      <%end%>
    </div>
    <%=render 'layouts/nav'%>
    <div class="container">
      <h1 align="center">SKATE-MATE</h1>
      <%= yield %>
    </div>
    <footer align="center">Skate-Mate 2020.</footer>
  </body>
</html>
