<!DOCTYPE html>
<html>
  <head>
    <title>SkateMate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'main'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flash-alert">
      <%flash.each do |type, msg|%>
        <%=msg%>
      <%end%>
    </div>
    <%=user_auth%>
    <%if current_user%>
      <ul class="nav-links">
        <li><%=link_to "Home", user_path(current_user)%></li>
        <li><%=link_to "Logout", logout_path%></li>
      </ul>
    <%end%>
    <%= yield %>
  </body>
</html>
