<!DOCTYPE html>
<html>
  <head>
    <title>SkateMate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flash-alert">
      <%flash.each do |type, msg|%>
        <%=msg%>
      <%end%>
    </div>
    <%if current_user%>
      <%=render partial 'user_nav'%>
    <%end%>
    <%= yield %>
  </body>
</html>
